@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Work+Sans:wght@100;400;700;800&display=swap");

/* common css */
* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  max-width: 1440px;
  padding: 0;
  margin: 0;
}
.common-bg-color {
  background-color: #ff42a5;
}
.common-text-color {
  color: #0b0223;
}
.common-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.common-description-color {
  color: #534c64;
  line-height: 30px;
}

.common-btn {
  background-color: #ff42a5;
  padding: 15px 25px;
  border-radius: 48px;
  border: none;
  color: white;
  margin-top: 10px;
}
.text-center {
  text-align: center;
}
.white-color-text {
  color: white;
}
/* nav section css */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 30%;
  height: 30%;
}
.logo-first-letter {
  color: #ff42a5;
}
.nav-logo-title {
  font-size: 45px;
  font-weight: 700;
  margin-left: 10px;
}
.nav-menu-and-icon,
.nav-menu-and-icon ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}
.nav-menu-and-icon li {
  margin-right: 30px;
}
.follow-us-btn {
  background-color: rgba(11, 2, 35, 0.1);
  padding: 12px;
  border: none;
  border-radius: 8px;
}
.fa-youtube {
  color: #f61c0d;
}
/* Banner section */
.banner-section-container {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 40%;
  background-image: url("../images/Group14.png");
  background-size: 100%;
  object-fit: cover;
  padding: 100px;
}
.banner-img {
  width: 35%;
}
.banner-img img {
  width: 100%;
}
.banner-big-font {
  font-size: 60px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-color {
  margin-right: 10px;
  color: #ff42a5;
}

.go-rouge-btn {
  background-color: #4ec5f7;
  padding: 15px 25px;
  border-radius: 48px;
  border: none;
  color: white;
  margin-top: 10px;
}

/* We are gamer section css */
.we-are-gamer-section {
  width: 100%;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.we-are-gamer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.we-are-gamer-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we-are-gamer-img img {
  width: 100%;
}
.we-are-gamer-img {
  width: 50%;
}
.we-are-gamer-text {
  width: 30%;
}
.we-are-gamer-text {
  text-align: right;
}

/* Online Games section css */

.online-games {
  width: 93%;
  margin: 0 auto;
}
.online-games-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.online-games-card {
  width: 20%;
}
.online-games-card img {
  width: 100%;
}
.online-games-text-part {
  color: #8758f1;
}

/* play instantly section*/
.play-instantly {
  width: 85%;
  margin: 50px auto;
}
.play-instantly-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-instantly-text {
  width: 25%;
}
.play-instantly-img {
  width: 40%;
  position: relative;
}

.over-image {
  width: 50%;
  position: absolute;
  bottom: -10%;
  left: -20%;
}
.play-instantly-img img {
  width: 100%;
}

/* Play games  */
.play-games {
  width: 85%;
  margin: 150px auto;
}
.play-games-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-games-text {
  width: 25%;
}
.play-games-img {
  width: 40%;
  position: relative;
}

.over-image-two {
  width: 40%;
  position: absolute;
  bottom: -10%;
  left: 75%;
}
.play-games-img img {
  width: 100%;
}

/* careers section  */
.careers-section {
  width: 85%;
  margin: 150px auto;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.careers-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.careers-section-img {
  width: 50%;
}
.careers-section-text {
  width: 60%;
  padding: 50px;
}

.careers-section-img img {
  width: 100%;
}

.careers-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.careers-info-container ul {
  list-style: none;
}

.careers-info-part-left {
  line-height: 30px;
  margin-top: 30px;
}
.careers-info-part-right {
  text-align: right;
  line-height: 30px;
}
.see-all-btn {
  border-radius: 48px;
  background: #fff;
  border: none;
  padding: 21px 40px;
  margin-top: 30px;
  color: #ff42a5;
}

/* Games Category  */
.games-category-container {
  width: 70%;
  margin: 50px auto;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
   */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.games-catregory-btn img {
  width: 30px;
}
.games-catregory-btn {
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border: none;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.games-catregory-btn:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
}

/* Footer Section  */
.footer-section {
  background-color: #0b0223;
  padding: 50px;
}
.logo,
.social-media-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.footer-info,
.footer-last-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.fa-brands {
  font-size: 40px;
}
/* -----Responsive--------Mobile Device--------Media QuerY-------------- */

@media screen and (max-width: 576px) {
  .nav-container,
  .nav-menu-and-icon,
  .nav-menu-and-icon ul,
  .we-are-gamer-container,
  .play-instantly-container,
  .careers-section-container {
    flex-direction: column;
    /* margin: auto; */
  }

  .nav-menu-and-icon ul > li {
    line-height: 40px;
    margin: 0 auto;
  }

  .banner-section-container,
  .play-games-container {
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 80%;
  }
  .banner-text {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .we-are-gamer-img {
    width: 90%;
  }
  .we-are-gamer-text {
    width: 90%;
    text-align: center;
  }
  .online-games-card {
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
  }
  .play-instantly-text,
  .play-games-text {
    width: 90%;
    text-align: center;
  }
  .play-instantly-img,
  .play-games-img {
    width: 80%;
    margin: 20px auto;
  }
  .careers-info-container {
    width: 100%;
  }
  .careers-section-text {
    width: 94%;
    padding: 0px;
  }

  .careers-section-img {
    width: 100%;
    margin-top: 30px;
  }
  .careers-section {
    width: 100%;
  }
  .games-category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .social-media-container,
  .footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-last-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
}

/* -----Responsive--------Tablet or Medium--------Media QuerY-------------- */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-container {
    padding: 10px;
  }
  .nav-container,
  .careers-section-container {
    flex-direction: column;
  }
  .banner-img {
    width: 80%;
    padding: 10px;
  }
  .banner-text {
    width: 100%;
  }
  .we-are-gamer-text {
    width: 47%;
    padding: 10px;
  }
  .play-instantly-text,
  .play-games-text {
    width: 30%;
  }
  .careers-info-container {
    width: 100%;
  }
  .careers-section-text {
    width: 94%;
    padding: 0px;
  }

  .careers-section-img {
    width: 100%;
    margin-top: 30px;
  }
  .careers-section {
    width: 100%;
  }
}

/* Media Query end */
